/desc_doap/vlfeat-0.9.21
/desc_doap/matconvnet-1.0-beta25
/examples/desc_doap/test_out
/desc_tfeat/.vscode
/desc_tfeat/.ipynb_checkpoints/*
/pipe_lift/outputs
/pipe_lift/inputs
/pipe_lift/tmp
/pipe_lift/io_utils.py
/pipe_sift/io_utils.py
/pipe_superpoint/io_utils.py
/desc_tfeat/io_utils.py
.vscode
