[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "==1.4"
opencv-python = "==3.4.3.18"
"h5py" = "*"
tqdm = "==4.28.1"

[dev-packages]

[requires]
python_version = "3.5"
