[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "==1.4"
opencv-python = "==3.4.3.18"
"h5py" = "*"

[dev-packages]

[requires]
python_version = "3.5"
