[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "==3.4.2.17"
numpy = "==1.15.1"
jupyter = "==1.0.0"
matplotlib = "==2.2.3"
opencv-contrib-python = "==3.4.2.17"
tqdm = "==4.28.1"

[dev-packages]

[requires]
python_version = "3.6"
