[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "==1.15.4"
opencv-python = "==3.4.2.17"
opencv-contrib-python = "==3.4.2.17"

[dev-packages]

[requires]
python_version = "3.6"
