[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tqdm = "==4.30.0"
numpy = "==1.16.1"
scipy = "==1.2.0"
tensorflow = "==1.4.0"
opencv-python = "==3.4.2.17"
scikit-image = "==0.14.2"
exifread = "==2.1.2"
jupyter = "==1.0.0"
"h5py" = "==2.9.0"

[dev-packages]

[requires]
python_version = "3.5"
